$primary-blue: #1CD5BD;
$secondary-blue: #1cb0d5;
$contact-form-bcg: #e5f8fd;
$contact-form-border: #55d3ef;
$cta-yellow: #fbd415;
$light-blue: #e5f8fd;
$footer-dark: #222222;
$single-gray: #676868;
$paragraph-gray: #424343;
$pinky: #fc5370;